body{
    text-align: center;
    background-color: gainsboro;
}
figure{
    background-color: bisque;
    border-radius: 5px;
}

 li{
  background-color: bisque;
  list-style-type: square;
  list-style-position: inside;
  
  width:auto;
  
}
img{
    max-height: fit-content;
    max-width: fit-content;
   
    
}
