body{
    background-image: url("/SimpleWebsites/Photos/austinnut.png") ;
    background-size: 100px;
    width: auto;
}
h1,p{
    text-align:center;

}

h1{
    padding-top: 0.5%;
}
form{
    padding-left: 2%;
    text-align: left;
    color:white;
    
}
fieldset{
    border-color: beige;
    border-left: none;
    border-right: none;
    
}
fieldset:first-of-type{
    border-bottom:none;
}

.newLine{
    display: block;
    
}
input, textarea{
    background-color: gray;
    margin: auto;
}
::placeholder{
    color:black;
}
.increaselength{
    min-width:19%;
}
select{
 width: 60%;
}


