body{
    text-align: center;
    background-color: #242582;
}
legend{
    color:#F64C72;
}
p{
    color: #553D67;
}

.discription{
    display: block;
    color:#553D67
}
a:visited{
    color: #553D67;
}
a{
    text-decoration: none;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.boxes img{
    width: 100%;
    max-width: 450px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}