body{
    text-align: center;
    background-color: #242582;
}
legend{
    color:#F64C72;
}
p{
    color: #553D67;
}
.website{
    margin-top: 50px;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    width: 30%;
}
img{
    width: 30vh;
    height: 20vh;
}
.discription{
    display: block;
    color:#553D67
}